header{
    border-bottom : 1px blue solid;
    padding: 20px;
}
nav{
    border-right: 1px blue solid;
    width:200px;
    height:600px;
    float:left;
}
nav ol{
    list-style: none;
}
article{
    float: left;
    padding:20px;
}